## Bnaya Avivi 318403854

In [1]:
import requests
import pandas as pd #pandas library
from pandas_datareader import data #data readers (google, html, etc.)
#The following line ensures that graphs are rendered in the notebook (and not in another window)
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt #Plotting library
import datetime as dt #datetime for timeseries support
import re

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
target=[]
file = open('dests.txt', 'r')

for line in file:
    line=line.rstrip()
    target.append(line)
my_location='Tel Aviv'

In [3]:
def Distance(key,loc):
    api_url = "https://maps.googleapis.com/maps/api/distancematrix/json"
    params = {
    "origins": 'Tel Aviv' ,
    "destinations": loc,
    "key": key
    }
    response = requests.get(api_url, params=params)
    if response.status_code == 200:
    # Get the distance and duration information from the response
        data = response.json()
        distance = data["rows"][0]["elements"][0]["distance"]["text"]
        duration = data["rows"][0]["elements"][0]["duration"]["text"]
        return distance, duration
    else:
        print("Error:", response.status_code)  
def get_lat_lng(api_key,loc):
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (loc,api_key)
    response = requests.get(url).json()
    return (response['results'][0]['geometry']['location']['lng'],response['results'][0]['geometry']['location']['lat'])

In [4]:
distace=[]
duration=[]
Longitude=[]
latitude=[]
for location in target:
    distace.append(Distance(api_key,location)[0])
    duration.append(Distance(api_key,location)[1])
    Longitude.append(get_lat_lng(api_key,location)[0])
    latitude.append(get_lat_lng(api_key,location)[1])

In [5]:
data = {
    "target":target,
    "Distace_KM": distace,
    "Duration (hour+minutes)": duration,
    "Longitude": Longitude,
    "latitude": latitude
}

# Create the dataframe from the dictionary
df = pd.DataFrame(data)

In [6]:
df

      target Distace_KM Duration (hour+minutes)  Longitude   latitude
0   Istanbul   1,815 km         21 hours 3 mins  28.978359  41.008238
1  Amsterdam   4,527 km          2 days 0 hours   4.904139  52.367573
2   Valletta   3,793 km          2 days 3 hours  14.514100  35.899237
3      Basel   4,093 km          1 day 20 hours   7.588576  47.559599
4       Doha   2,164 km        22 hours 39 mins  51.531040  25.285447

In [7]:
df.sort_values("Distace_KM",ascending= False).head(3)['target']

1    Amsterdam
3        Basel
2     Valletta
Name: target, dtype: object

In [8]:
df.sort_values("Distace_KM",ascending= False).head(3)

      target Distace_KM Duration (hour+minutes)  Longitude   latitude
1  Amsterdam   4,527 km          2 days 0 hours   4.904139  52.367573
3      Basel   4,093 km          1 day 20 hours   7.588576  47.559599
2   Valletta   3,793 km          2 days 3 hours  14.514100  35.899237